/*Settings Generals*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
